@model KeyVaultCA.Web.Models.SignResponse;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="form-row">
	<div class="input-data">
		@Html.TextAreaFor(x=>x.Pkcs7Result, new{@style="width:760px;height:370px;"})
		@* <input type="text" asp-for="@Model.Result" /> *@
	</div>
</div>
<div class="form-row submit-btn">
	<div class="input-data">
		<button class="btn " id="download-pfx">
			Download
			<i class="fa fa-download"></i>
		</button>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		$('#download-pfx').on("click", function () {

			// var sampleArr = base64ToArrayBuffer('@Convert.ToBase64String(Model.PfxResult)');
			// var sampleArr = base64ToArrayBuffer('@Model.Pkcs7Result');

			// saveByteArray("@Model.Csr.CertificateName", sampleArr);
			// saveByteArray("@Model.Csr.CertificateName", '@Convert.ToBase64String(Model.PfxResult)');
			saveByteArray("@Model.Csr.CertificateName", '@Model.Pkcs7Result');

			// $.ajax({
			// 	url: '@Url.Action("DownloadPfx","Certificate")',
			// 	type: "POST",
			// 	data: {
			// 		pkcs7: '@Model.Pkcs7Result'
			// 	},

			// 	success: function (data) {

			// 	},
			// 	error: function (xhr) {

			// 	}
			// });
		});
	});

	function base64ToArrayBuffer(base64) {
		var binaryString = window.atob(base64);
		var binaryLen = binaryString.length;
		var bytes = new Uint8Array(binaryLen);
		for (var i = 0; i < binaryLen; i++) {
			var ascii = binaryString.charCodeAt(i);
			bytes[i] = ascii;
		}
		return bytes;
	}

	function saveByteArray(file, byte) {
		var blob = new Blob([byte], { type: "application/x-pkcs12" });
		var link = document.createElement('a');
		link.href = window.URL.createObjectURL(blob);
		var fileName = file;
		link.download = fileName;
		link.click();
	};
</script>